<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"
				charset="UTF-8" />
		</Console>

		<RollingFile name="RollingFile" fileName="${path.log}/app.log"
			filePattern="${path.log}/app-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
				<Charset>UTF-8</Charset>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="LockAcquiringAppender" fileName="${path.log}/lock-acquiring.log"
			filePattern="${path.log}/lock-acquiring-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
				<Charset>UTF-8</Charset>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="AutodiscoveryAppender" fileName="${path.log}/autodiscovery.log"
			filePattern="${path.log}/autodiscovery-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
				<Charset>UTF-8</Charset>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>

		<logger name="LockAcquiringLogger" additivity="false">
    		<appender-ref ref="LockAcquiringAppender" />
		</logger>

		<logger name="AutodiscoveryLogger" additivity="false" level="trace">
    		<appender-ref ref="AutodiscoveryAppender" />
		</logger>
	</Loggers>
</Configuration>